<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="border-0 bg-light" style="width: 300px" scope="col">
          <div class="p-2 px-3 text-uppercase">Name</div>
        </th>
        <th class="border-0 bg-light" scope="col">
          <div class="p-2 px-3 text-uppercase">Upload Date</div>
        </th>
        <th class="border-0 bg-light" width="150" scope="col">
          <div class="p-2 px-3 text-uppercase">Size (KB)</div>
        </th>
        <th class="border-0 bg-light" width="150" scope="col">
          <div class="p-2 px-3 text-uppercase">Actions</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of files">
        <td class="text-left">{{ f.fileName }}</td>
        <td>{{ f.uploadDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ f.fileSizeInKb.toFixed(2) }} KB</td>
        <td>
          <button class="btn btn-sm btn-success mr-1" type="button" (click)="showViewModal(f.id)" matTooltip="View">
            <i class="fa fa-search-plus"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator [length]="totalCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChanged($event)"></mat-paginator>
</div>
